@include min(d-640) {
    .navbar-nav {
        flex-direction: row;
    }

    .collapse {
        display: flex !important;
    }

    .navbar-toggler {
        display: none;
    }
}

@include max(d-640) {
    header{
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
    .announcement {
        &-bar {
            flex-direction: column;
            gap: rem(10px);
            a,span {
                @include typo(mrem(11px), 300, $white, mrem(10px));
            }
        }
    }
    .navbar{
        &-brand{
            .logo{
                width: mrem(120px);
            }
        }
        .collapse{
            flex-direction: column;
            width: 100%;
            gap: rem(30px);
        }
        .navbar-nav{
            flex-direction: column;
            .show{
                flex-direction: column;
            }
            .nav-item{
                margin-bottom: rem(15px);
                .nav-link{
                    @include typo(mrem(18px), $font-r, #4a5568, mrem(10px));
                }
            }
        }
        .search-div{
            display: none;
        }
    }
}